@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

Link{
  text-decoration: none !important;
  color: inherit !important;
}


body {
  font-family: "Raleway";
  font-size: 1em;
  color: var(--dark-terminal-color);
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-x: hidden;
  
}




button {
  border: 0;
  cursor: pointer;
}



a {
  text-decoration: none !important;
  color: inherit !important;
  font-size: inherit;
}

small {
  
}


#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

/* NAVBAR */
/* Style the navigation container */
.navbar-container {
    position: fixed; /* Fix the navbar to the left side of the screen */
    top: 20px;
    left: 20px;
    padding: 0;
    margin: 0;
}

/* Style the list of links */
.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

/* Style individual links */
.navbar-link {
    text-decoration: none;
    color: inherit;
    writing-mode: vertical-rl; /* Make text vertical, right to left */
    font-size: 16px; /* Font size */
    transition: color 0.3s; /* Smooth color transition on hover */
    font-weight: 800;
}
.navbar-link:nth-child(1) {
  font-size: 1.4rem;
}


/* FOOTER */
.footer-container{
  position: fixed;
  bottom: 15px; 
  left: 50%;
  transform: translateX(-50%);
}
.footer-links{
  display: flex;
  gap: 40px;

}
.footer-link{

}

/* CART CONTAINET ICON */
.cart-icon-container{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
}
.cart-icon{

}




/* VIDEO LANDING */
.video-landing-container {
  position: fixed; /* Ensures the video stays in place */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; 
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

/* Styles for the video element */
.video-landing {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  cursor: pointer;
  padding: 0 25px;
}

/* .video-landing-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; 
}

.video-landing {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  cursor: pointer; 
} */

/* LOADER */
.loader-container{
  width: 100%;
  position: absolute;
}
.loader-image{
  position: absolute;
  left: -400px;
  top: 0;
  width: 200px;
  height: auto;
  transform: rotate(40deg);
}
.loader-image2{
  position: absolute;
  right: -400px;
  top: -40px;
  width: 200px;
  height: auto;
  transform: rotate(150deg);
}

/* PAGE  */
.page-container{
  width: 100%;
  display: flex;
}
/* HOME */

/* birds grid */

.birds-grid-container{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px 0px 100px;
}

/* sinlge bird */

.single-bird-container{
  cursor: pointer;
  width: 300px;
}

.bird-image{
  width: 140px;
  height: auto;
}

/* bird description */

.bird-description-container{

}
.bird-description-image{
  width: 300px;
  height: auto;
}

/* bird gallery */

.bird-gallery-container{

}

/* ABOUT */

/* VIDEOLANDING */
