@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
  --light-grey: #f6f9fc;
  --accent-color: #635bff;
  --radius: 3px;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, table {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

Link{
  text-decoration: none !important;
  color: inherit;
}


body {
  font-family: "Raleway";
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1;
  overflow-x: hidden;
  
}




button {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  background: none;
}



a {
  text-decoration: none !important;
  color: inherit;
  font-size: inherit;
}

small {
  
}


#payment-form {
  color: white !important;
}

#messages {

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

/* NAVBAR */
/* Style the navigation container */
.navbar-container {
    position: fixed; /* Fix the navbar to the left side of the screen */
    top: 20px;
    left: 20px;
    padding: 0;
    margin: 0;
    z-index: 99;
}

/* Style the list of links */
.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

/* Style individual links */
.navbar-link {
    text-decoration: none;
    color: inherit;
    writing-mode: vertical-rl; /* Make text vertical, right to left */
    font-size: 16px; /* Font size */
    transition: color 0.3s; /* Smooth color transition on hover */
    font-weight: 800;
    cursor: pointer;
}

.navbar-link:nth-child(1) {
  font-size: 1.4rem;
}


/* FOOTER */
.footer-container{
  position: fixed;
  bottom: 15px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 999
}

.footer-links{
  display: flex;
  gap: 60px;

}

.footer-link{
}

/* CART CONTAINET ICON */
.cart-icon-container{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 9;
}

.cart-icon{
  font-weight: 800 !important;
}

/* CONTINUE SHOPPING */
.continue-shopping-button{
  position: absolute;
  font-weight: 800 !important;
  top: 20px;
  left: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 9;
}

/* PRODUCTS IN CART */

.products-in-cart{
  margin-top: 40px;
  margin-bottom: 40px;
}

.products-in-cart table {
  width: 100%;
  border-collapse: collapse;
}


.column-name {
  width: 70%;
}

.column-quantity, .column-price {
  width: 15%;
}

.products-in-cart th, .products-in-cart td {
  padding: 8px;
  text-align: left;
}
.table-row{
  margin-top: 20px;
}

.update-items-quantity-button{
  color: white !important;
}

.shippin-row-container{
  width: 100%;
  display: flex;
  gap: 10px;
}
.shipping-title{
  font-weight: 800;
  margin-right: 15px;
}

.shipping-option{
  color: white !important;
}
.international-shippings{
  color: white !important;
  font-size: .8rem;
}


.make-payment-button, .submit-payment-button{
  color: white !important;
}

.submit-payment-button{
  margin: 20px 0;
}




/* VIDEO LANDING */
.video-landing-container {
  position: fixed; /* Ensures the video stays in place */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; 
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

/* Styles for the video element */
.video-landing {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  cursor: pointer;
  padding: 0 25px;
}

/* .video-landing-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; 
}

.video-landing {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  cursor: pointer; 
} */

/* LOADER */
.loader-container{
  width: 100%;
  position: absolute;
}
.loader-image{
  position: absolute;
  left: -400px;
  top: 0;
  width: 200px;
  height: auto;
  transform: rotate(40deg);
}
.loader-image2{
  position: absolute;
  right: -400px;
  top: -40px;
  width: 200px;
  height: auto;
  transform: rotate(150deg);
}

/* PAGE  */
.page-container{
  width: 100%;
  display: flex;
  position: relative;
  

}
/* HOME */

/* birds grid */

.birds-grid-container{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px 0px 100px;
  box-sizing: border-box;
}

/* sinlge bird */

.single-bird-container{
  cursor: pointer;
  width: 300px;
}

.bird-image{
  width: 140px;
  height: auto;
}

/* bird description */

.bird-description-container{
  width: 20%;
  height: 100vh;
}
.bird-description-image{
  width: 100%;
  height: auto;
   height: 100%; /* Occupies 100% of the parent's height */
  object-fit: cover;
}

/* bird gallery */

.home-right-container {
  width: 48%; 
  height: 100vh;
  margin-left: 40px;
  position: relative;
  background-color: black;
}

.home-right-fixed-container{
  position: fixed;
  width: calc(48% - 30px); 
  height: 100vh;
  background-color: black;
  top: 0;
  right: 0;
  z-index: 99;
  
}

.payment-container{
  padding: 20px;
}

.bird-gallery-image {
  width: 100%; /* Occupies 100% of the parent's width */
  height: 100%; /* Occupies 100% of the parent's height */
  object-fit: cover;
}

.swiper-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-slide{
  max-width: 100% !important;
  width: 100% !important;
}


/* ABOUT */

/* VIDEOLANDING */


/* AUTHENTICATION */

.auth-landings{
  padding: 100px;
}

.title-auth{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
}



.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.form {
  width: 70%;
  margin: 0 auto;
}
.center-element{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.input-form{
  width: 200px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.input-form-center{
  width: 300px;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}



/* admin panel */

.admin-panel-container {
    padding: 75px 50px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  height: 30px;
  padding: 10px;
  width: 300px;
  text-align: center;
  margin: 30px auto;
  font-size: 1.3rem;
}

.search-box::placeholder {
  color: var(--gray);
}